<h1>Create a new user</h1>
<%= form_for(@user) do |f| %>

<%= f.label :fname, "First Name" %>
<%= f.text_field :fname %>


<%= f.label :lname, "Last Name" %>
<%= f.text_field :lname %>

<%= f.label :username, "username, this will be your screen name" %>
<%= f.text_field :username %>

<%= f.label :email, "email" %>
<%= f.text_field :email %>

<%= f.label :birthdate, "Birth Date" %>
<%= f.date :birthdate %>
<% end %>
