<!DOCTYPE html>
<html>
<head>
  <title>Capcap</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://d3dy5gmtp8yhk7.cloudfront.net/VERSION/pusher.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container" class="container">
	   <div id="invited" ><%= notice %></div>
       <!-- <div class="alert"><%= alert %></div> -->
		<%= yield %>
		<br>
	</div>
</body>
</html>
